{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign responsive_visibility = section.settings.responsive_visibility
  assign color_scheme = section.settings.color_scheme
  assign sectionID = section.settings.sectionID
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div id="{{ sectionID }}" class="image-with-text w-screen sm:h-[75vh] bg-white {{ section_layout }} {{ color_scheme }} {{ padding_top }} {{ responsive_visibility }}">
  <div class="h-full grid md:grid-cols-2">
    <div class="overflow-hidden">
      {% for block in section.blocks %}
        {% render 'image-with-text.benefit', block: block, forloop: forloop, type: 'image-mobile-content' %}
      {% endfor %}
    </div>

    {% comment %} text section {% endcomment %}
    <div class="flex w-full justify-center bg-[#FDFDF9] sm:bg-[#F7F4EE] flex-col items-center gap-2.5 flex-[1_0_0] self-stretch px-40 py-[100px]">
      <div class="h-full flex items-center justify-center w-[640px] mt-16">
        {% for block in section.blocks %}
          {% comment %} div for each richtext setting {% endcomment %}
          <div class="h-full flex items-center">
            {% render 'image-with-text.benefit', block: block, forloop: forloop, type: 'desktop-text-content' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>