{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign responsive_visibility = section.settings.responsive_visibility
  assign color_scheme = section.settings.color_scheme
  assign sectionID = section.settings.sectionID
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div id="{{ sectionID }}" class="image-with-text w-screen h-[75vh] bg-white {{ section_layout }} {{ color_scheme }} {{ padding_top }} {{ padding_bottom }} {{ responsive_visibility }}">
  <div class="h-full grid md:grid-cols-2">
    <div class="overflow-hidden">
      {% for block in section.blocks %}
        {% render 'image-with-text.benefit', block: block, forloop: forloop, type: 'image-mobile-content' %}
      {% endfor %}
    </div>
    <div class="h-full flex items-center justify-center">
      {% for block in section.blocks %}
        {% render 'image-with-text.benefit', block: block, forloop: forloop, type: 'desktop-text-content' %}
      {% endfor %}
    </div>
  </div>
</div>